<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Learning Logs</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <p>
            <a href="{% url 'learning_logs:index' %}">Learning Logs</a>
            <a href="{% url 'learning_logs:topics' %}">Tópicos</a>

            {% if user.is_authenticated %}
                Olá, {{ user.username }}
                <a href="{% url 'users:logout' %}">Log Out</a>
            {% else %}
                <a href="{% url 'users:register' %}">Cadastro</a>
                <a href="{% url 'users:login' %}">Login</a>
            {% endif %}

        </p>
        {% block content%}{% endblock content %}
    </body>
</html>
